#actions-table { 
 max-width:100%;
 display:grid; 
 grid-template-rows: repeat(29, auto); 
 grid-template-columns: minmax(0, 100px) minmax(0, 100px) minmax(0, 30px) minmax(0, 100px) 1fl minmax(0, 100px);
 grid-gap:1px;
 background-color: black;
 border: 1px solid black;
 border-right:none;
 border-top:none;
}

#actions-table > * {
  padding: 10px;
  background-color:white;
}

#assetTypeRegister {
  display: grid;
  grid-template-columns: minmax(0, 100px) auto 1fr auto auto;
  background-color: black;
  grid-gap: 1px;
  border: solid 1px;
  border-right: none;
}

#assetTypeRegister > * {
  padding: 10px;
  background-color:white;
}

#messageTypeRegister { 
  display: grid;
  grid-template-columns: minmax(0, 100px) auto 1fr;
  background-color: black;
  grid-gap: 1px;
  border: solid 1px;
  border-right: none;
}

#messageTypeRegister > * {
  padding: 10px;
  background-color:white;
}

.heading {
  font-weight: bold; 
}

