.heading {
  font-weight: bold; 
}

#actions-table { 
 max-width:100%;
 display:grid; 
 grid-template-rows: repeat(29, auto); 
 grid-template-columns: minmax(0, 100px) minmax(0, 100px) minmax(0, 30px) minmax(0, 100px) 1fl minmax(0, 100px);
 grid-gap:1px;
 background-color: black;
 border: 1px solid black;
 border-right:none;
 border-top:none;
}

#actions-table > * {
  padding: 10px;
  background-color:white;
}

#asset-type-register {
  display: grid;
  grid-template-columns: minmax(0, 100px) auto 1fr auto auto;
  background-color: black;
  grid-gap: 1px;
  border: solid 1px;
  border-right: none;
}

#asset-type-register > * {
  padding: 10px;
  background-color:white;
}

#message-type-register { 
  display: grid;
  grid-template-columns: minmax(0, 100px) auto 1fr;
  background-color: black;
  grid-gap: 1px;
  border: solid 1px;
  border-right: none;
}

#message-type-register > * {
  padding: 10px;
  background-color:white;
}

#asset-creation-table-container {

}

.asset-creation-table {
  display: grid;
  grid-template-columns: minmax(0, 70px) minmax(0, 70px) minmax(0, 100px) auto 1fl minmax(0, 70px) 1fl auto;
  background-color: black;
  grid-gap: 1px;
  border: solid 1px;
  border-right: none;
}

.asset-creation-op-return {
  display: grid;
}

.asset-operation-div  {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.op-return-title-div {
  grid-row: 2/-1;
  grid-column: 1/-1;
}

.field-div {
  grid-row: 2/3;
  grid-column: 2/3;
}

.asset-creation-header-div {
  grid-row: 3/4;
  grid-column: 2/-1;
}

.op-return-label-div {
  grid-row: 4/-1;
  grid-column: 2/3;
}

.bytes-label-div {
  grid-row: -3/-2;
  grid-column: 3/4;
}

.max-bytes-label-div {
  grid-row: -2/-1;
  grid-column: 3/4;
}

.bytes-example-div {
  grid-row: -3/-2;
  grid-column: 4/5;
}

.max-bytes-example-div {
  grid-row: -2/-1;
  grid-column: 4/5;
}

.payload-output-label-div {
  grid-row: -3/-2;
  grid-column: 5/6;
}

.length-label-div {
  grid-row: -2/-1;
  grid-column: 5/6;
}

.payload-output-example-div {
  grid-row: -3/-2;
  grid-column: 6/-1;
}

.length-example-div {
  grid-row: -2/-1;
  grid-column: 6/-1;
}







